<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="js/farbtastic.js"></script>

    <link rel="css" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

    <link rel="css" href="farbtastic.css" />

    <title>Word Clock</title>
</head>

<body>

    <div class="container" style="max-width: 30em; background:#aaaaaa; height:100vh">

        <h1 class="text-center">Word Clock</h1>

        <h4 class="text">Color</h4>

        <div class="container">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 30%;"><label>Background</label></td>
                    <td style="width: 30%;"><input type="color" id="color_background" style="width: 80%;"></td>
                    <td style="width: 40%;"><button class="btn btn-primary" id="btn_set_color_background"
                            style="width: 100%">SET</button></td>
                </tr>

                <tr>
                    <td style="width: 30%;"><label>Active Letter</label></td>
                    <td style="width: 30%;"><input type="color" id="color_active_letter" style="width: 80%;"></td>
                    <td style="width: 40%;"><button class="btn btn-primary" id="btn_set_color_active_letter"
                            style="width: 100%;">SET</button></td>
                </tr>

                <tr>
                    <td style="width: 30%;"><label>Minute</label></td>
                    <td style="width: 30%;"><input type="color" id="color_minute" style="width: 80%;"></td>
                    <td style="width: 40%;"><button class="btn btn-primary" id="btn_set_color_minute"
                            style="width: 100%;">SET</button></td>
                </tr>

                <tr>
                    <td style="width: 30%;"><label>Second</label></td>
                    <td style="width: 30%;"><input type="color" id="color_second" style="width: 80%;"></td>
                    <td style="width: 40%;"><button class="btn btn-primary" id="btn_set_color_second"
                            style="width: 100%;">SET</button></td>
                </tr>

                <tr>
                    <td style="width: 30%;"><label>AM PM</label></td>
                    <td style="width: 30%;"><input type="color" id="color_ampm" style="width: 80%;"></td>
                    <td style="width: 40%;"><button class="btn btn-primary" id="btn_set_color_ampm"
                            style="width: 100%;">SET</button></td>
                </tr>

            </table>

        </div>

        <br>

        <h4 class="text">Brightness</h4>

        <div class="container">

            <div class="container">
                <label>Max</label>
                <br>
                <i class="far fa-sun"></i>
                <input type="range" id="range_brightness_max" min="0" max="255" value="100" style="width: 88%;">
                <i class="fas fa-sun"></i>

            </div>

            <br>
            <div class="container">
                <label>Value</label>
                <br>
                <i class="far fa-sun"></i>
                <input type="range" id="range_brightness_value" min="0" max="100" value="100" style="width: 88%;">
                <i class="fas fa-sun"></i>

                <div style="float: right; margin-right: 5%; margin-top: 1em;">
                    <label style="margin-right: 0.5em">Auto Brightness</label>
                    <input type="checkbox" id="check_brightness_auto" name="scales" style="zoom: 1.5"/>

                </div>

            </div>

        </div>

        <br><br>

        <h4 class="text">Light</h4>

        <div class="container">
            <div class="container">
                <label>Timeout</label>
                <br>
                <input type="range" id="range_light_timeout" min="0" max="600" value="100" style="width: 88%;">

                <div style="float: right; margin-right: 5%; margin-top: 1em;">
                    <label style="margin-right: 0.5em">Always ON</label>
                    <input type="checkbox" id="check_light_always_on" name="scales" style="zoom: 1.5"/>

                </div>

            </div>

        </div>

    </div>

    <script type="text/javascript" src="../static/app.js"></script>
    <!-- <script type="text/javascript" src="{{url_for('static', filename='app.js')}}"></script> -->

</body>


</html>